<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Producto</title>
    <link rel="stylesheet" href="/css/tienda.css">
    <link rel="stylesheet" href="/css/resposiveTienda.css">
</head>

<body>
    
    <header class="cabecera__prin" style="background-image: url('/images/background-tienda.png');">
        <div class="centrar">
            <article class="cabecera__prin__cont">
                <section class="cabecera__prin__cont__cabecera">
                    <div id="menu">
                        <div class="menu__icono"><img src="/images/iconos/icon-menu.svg" alt=""></div>
                    </div>
                    <div class="cabecera__prin__cont__cabecera__logo">
                        <img src="/images/Logo.png" alt="logo" />
                    </div>
                    <div class="cabecera__prin__cont__cabecera__navegacion">
                        <nav class="navegacion__prin">
                            <ul>
                                <li class="navegacion__prin__item">
                                    <a id="nav__inicio" href="/">Inicio</a>
                                </li>
                                <li class="navegacion__prin__item">
                                    <a id="nav__quien" href="/">¿Quienes somos?</a>
                                </li>
                                <li class="navegacion__prin__item">
                                    <a id="nav__porque" href="/">¿Porque adoptar?</a>
                                </li>
                                <li class="navegacion__prin__item">
                                    <a id="nav__tienda" href="/tienda">Tienda</a>
                                </li>
                                <li class="navegacion__prin__item">
                                    <a id="nav__contacto" href="/">Contacto</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div id="filtros">
                        <div class="icono"><img src="/images/iconos/icon_filtro.svg" alt=""></div>

                    </div>
                    <a href="/carrito">
                        <div id="carrito">
                            <div class="carrito__icono icono">
                                <img src="/images/iconos/icon-carrito.svg" alt="">
                            </div>
                            <div class="carrito__navegacion"></div>
                        </div>
                    </a>

                </section>
                <section class="zona__navegacion">
                    <div class="menu__navegacion"></div>
                    <div class="filtro__navegacion"></div>
                </section>

            </article>
        </div>
    </header>


    <h1>Tienda</h1>
    <div class="con-producto">

        <div class="con-producto__imagen articulo__informacion__imagen">
            <img src="{{imagen}}" alt="">
        </div>

        <div class="con-producto__informacion">
            <h1 class="articulo__informacion__titulo">{{nombre}}</h1>
            <h2 class="articulo__informacion__precio numero">{{costo}}</h2>
            <div class="informacion__llegada">
                <div class="informacion__llegada__icono icono">
                    <img src="/images/iconos/icon-calendario.svg" alt="">
                </div>
                <div class="informacion__llegada__texto">
                    <p>Llega cerca al 21 Abril</p>
                </div>
            </div>
            <div class="informacion__envio">
                <div class="informacion__envio__icono icono">
                    <img src="/images/iconos/icon-envio.svg" alt="">
                </div>
                <div class="informacion__envio__texto">
                    <p>{{envio}}</p>
                </div>
            </div>
            <div class="informacion__compra">
                <div class="informacion__compra__comprar">
                    <button id="btn_comprar" class="boton verde">Comprar</button>
                </div>
                <div class="informacion__compra__agregar">
                    <button class="boton gris informacion__agregar">Agregar</button>
                </div>
            </div>
            <div class="informacion__social">
                <div class="informacion__social__valorar">
                    <div class="informacion__social__valorar__icono icono">
                        <img src="/images/iconos/icon-like.svg" alt="">
                    </div>
                    <button class="informacion__social__valorar__boton">Me gusta</button>
                </div>
            </div>
            <div class="informacion__descripcion">
                <div class="informacion__descripcion__texto">
                    <p class="articulo__informacion__descripcion">{{informacion}}</p>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="centrar">
            <article class="pie-pagina">
                <section class="subir">▲</section>
                <section class="pie-pagina__logo">
                    <img src="/images/logo-negativo.png" alt="" />
                </section>
                <section class="pie-pagina__contacto">
                    <ul class="info-contacto">
                        <li><strong>Telefono</strong> 313 211 2323</li>
                        <li><strong>Móvil:</strong> 315 211 423 23</li>
                        <li><strong>E-mail:</strong> cannio@info.correo.com</li>
                        <li><strong>Cali - Colombia</strong></li>
                    </ul>
                </section>
            </article>
        </div>
        <div class="pie-pagina__derechos">
            <h2 class="centrar">Todos los derechas reservador</h2>
        </div>
    </footer>

    <script src="/js/almacen.js"></script>
    <script src="/js/btienda.js"></script>
    <script src="/js/tienda.js"></script>
    <script src="/js/numeros.js"></script>
</body>

</html>