<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>

    <link rel="stylesheet" href="/css/tienda.css">
    <link rel="stylesheet" href="/css/resposiveTienda.css">
</head>

<body>
    <div class="cont-principal" style="background-image: url('/images/background-tienda.png');">

        <header class="cabecera__prin">
            <div class="centrar">
                <article class="cabecera__prin__cont">
                    <section class="cabecera__prin__cont__cabecera">
                        <div id="menu">
                            <div class="menu__icono"><img src="/images/iconos/icon-menu.svg" alt=""></div>
                        </div>
                        <div class="cabecera__prin__cont__cabecera__logo">
                            <img src="/images/Logo.png" alt="logo" />
                        </div>
                        <div class="cabecera__prin__cont__cabecera__navegacion">
                            <nav class="navegacion__prin">
                                <ul>
                                    <li class="navegacion__prin__item">
                                        <a id="nav__inicio" href="#">Inicio</a>
                                    </li>
                                    <li class="navegacion__prin__item">
                                        <a id="nav__quien" href="#">¿Quienes somos?</a>
                                    </li>
                                    <li class="navegacion__prin__item">
                                        <a id="nav__porque" href="#">¿Porque adoptar?</a>
                                    </li>
                                    <li class="navegacion__prin__item">
                                        <a id="nav__tienda" href="#">Tienda</a>
                                    </li>
                                    <li class="navegacion__prin__item">
                                        <a id="nav__contacto" href="#">Contacto</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div id="filtros">
                            <div class="icono"><img src="/images/iconos/icon_filtro.svg" alt=""></div>

                        </div>
                        <div id="carrito">

                            <div class="carrito__icono icono"><img src="/images/iconos/icon-carrito.svg" alt=""></div>
                            <div class="carrito__navegacion"></div>
                        </div>
                    </section>
                    <section class="zona__navegacion">
                        <div class="menu__navegacion"></div>
                        <div class="filtro__navegacion"></div>
                    </section>

                </article>
            </div>
        </header>
        <h1>Tienda</h1>
        <div class="cont-tienda">
            <div class="cont__filtros">

                <div class="filtros">
                    <header>
                        <h2>Tienda</h2>
                        <button>Carrito</button>
                    </header>
                    <div class="filtro filtro__pupularidad">
                        <div class="filtro__titulo">
                            <h2>Relevancia</h2>
                        </div>
                        <form action="">
                            <label class="filtro__opcion" id="precio">

                                {{#if query.Normal}}
                                <input type="radio" checked name="categoria" value="Normal">
                                {{else}}
                                <input type="radio" name="categoria" value="Normal">
                                {{/if}}
                                <div class="filtro__opcion__icono">
                                    <div class="filtro__icono">
                                        <img src="/images/iconos/icon_relevante.svg" alt="">
                                    </div>
                                </div>
                                <p>Mas relevantes</p>
                            </label>
                            <label class="filtro__opcion" id="precio">
                                {{#if query.Mayor}}
                                <input type="radio" checked name="categoria" value="Mayor">
                                {{else}}
                                <input type="radio" name="categoria" value="Mayor">
                                {{/if}}
                                <div class="filtro__opcion__icono">
                                    <div class="filtro__icono">
                                        <img src="/images/iconos/icon_caro.svg" alt="">
                                    </div>
                                </div>
                                <p>Mayor precio</p>
                            </label>
                            <label class="filtro__opcion" id="precio">
                                {{#if query.Menor}}
                                <input type="radio" checked name="categoria" value="Menor">
                                {{else}}
                                <input type="radio" name="categoria" value="Menor">
                                {{/if}}
                                <div class="filtro__opcion__icono">
                                    <div class="filtro__icono">
                                        <img src="/images/iconos/icon_barato.svg" alt="">
                                    </div>
                                </div>
                                <p>Menor precio</p>
                            </label>
                        </form>
                    </div>
                    <div class="filtro filtro__etapa">
                        <div class="filtro__titulo">
                            <h2>Etapa</h2>
                        </div>
                        <form action="">
                            <label class="filtro__opcion" id="etapa">
                                {{#if query.Adulto}}
                                <input type="radio" checked name="categoria" value="Adulto">
                                {{else}}
                                <input type="radio" name="categoria" value="Adulto">
                                {{/if}}

                                <div class="filtro__opcion__icono">
                                    <div class="filtro__icono">
                                        <img src="/images/iconos/icon_pero_g.svg" alt="">
                                    </div>
                                </div>

                                <p>Adulto</p>
                            </label>
                            <label class="filtro__opcion" id="etapa">
                                {{#if query.Cachorro}}
                                <input type="radio" checked name="categoria" value="Cachorro">
                                {{else}}
                                <input type="radio" name="categoria" value="Cachorro">
                                {{/if}}
                                <div class="filtro__opcion__icono">
                                    <div class="filtro__icono">
                                        <img src="/images/iconos/icon_perro_p.svg" alt="">
                                    </div>
                                </div>
                                <p>Cachorro</p>
                            </label>
                            <label class="filtro__opcion" id="etapa">
                                {{#if query.Senior}}
                                <input type="radio" checked name="categoria" value="Senior">
                                {{else}}
                                <input type="radio" name="categoria" value="Senior">
                                {{/if}}
                                <div class="filtro__opcion__icono">
                                    <div class="filtro__icono">
                                        <img src="/images/iconos/icon_perro_s.svg" alt="">
                                    </div>
                                </div>
                                <p>Senior</p>
                            </label>
                        </form>
                    </div>
                    <div class="filtro filtro__marca">
                        <div class="filtro__titulo">
                            <h2>Marca</h2>
                        </div>
                        <form action="">
                            <label class="filtro__opcion" id="marca">
                                {{#if query.Chunky}}
                                <input type="radio" checked name="categoria" value="Chunky">
                                {{else}}
                                <input type="radio" name="categoria" value="Chunky">
                                {{/if}}
                                <div class="filtro__opcion__icono">
                                    <div class="filtro__icono">C</div>
                                </div>
                                <p>Chunky</p>
                            </label>
                            </label>
                            <label class="filtro__opcion" id="marca">
                                {{#if query.Dogchow}}
                                <input type="radio" checked name="categoria" value="Dogchow">
                                {{else}}
                                <input type="radio" name="categoria" value="Dogchow">
                                {{/if}}
                                <div class="filtro__opcion__icono">
                                    <div class="filtro__icono">D</div>
                                </div>
                                <p>Dog Chow</p>
                            </label>
                            <label class="filtro__opcion" id="marca">
                                {{#if query.Dogourmet}}
                                <input type="radio" checked name="categoria" value="Dogourmet">
                                {{else}}
                                <input type="radio" name="categoria" value="Dogourmet">
                                {{/if}}
                                <div class="filtro__opcion__icono">
                                    <div class="filtro__icono">G</div>
                                </div>
                                <p>Dogurment</p>
                            </label>
                        </form>
                    </div>
                    <div class="filtro filtro__envio">
                        <div class="filtro__titulo">
                            <h2>Envio</h2>
                        </div>
                        <form action="__titulo">
                            <label class="filtro__opcion" id="envio">
                                {{#if query.Gratis}}
                                <input type="radio" checked name="categoria" value="Gratis">
                                {{else}}
                                <input type="radio" name="categoria" value="Gratis">
                                {{/if}}
                                <div class="filtro__opcion__icono">
                                    <div class="filtro__icono">
                                        <img src="/images/iconos/icon_gratis.svg" alt="">

                                    </div>
                                </div>
                                <p>Gratis</p>
                            </label>
                            <label class="filtro__opcion" id="envio">
                                {{#if query.Credito}}
                                <input type="radio" checked name="categoria" value="Credito">
                                {{else}}
                                <input type="radio" name="categoria" value="Credito">
                                {{/if}}
                                <div class="filtro__opcion__icono">
                                    <div class="filtro__icono">S</div>
                                </div>
                                <p>Servientrega</p>
                            </label>
                            <label class="filtro__opcion" id="envio">
                                {{#if query.Pagocontraentrega}}
                                <input type="radio" checked name="categoria" value="Pagocontraentrega">
                                {{else}}
                                <input type="radio" name="categoria" value="Pagocontraentrega">
                                {{/if}}
                                <div class="filtro__opcion__icono">
                                    <div class="filtro__icono">
                                        <img src="/images/iconos/icon_contraentrega.svg" alt="">
                                    </div>
                                </div>
                                <p>Pago contraentrega</p>
                            </label>
                        </form>
                    </div>

                </div>
            </div>
            <div class="list-productos">
                <h2>Contenido Tienda</h2>
                <div class="productos__lista">

                    {{#each productos}}
                    <div class="articulo">
                        <div class="articulo__imagen">
                            <a href="/producto/{{nombre}}">
                                <div class="articulo__imagen__imagen">
                                    <img class="" src="{{imagen}}" alt=""></p>
                                </div>
                            </a>
                        </div>
                        <div class="articulo__informacion">
                            <button class="articulo__informacion__agregar">+</button>
                            <p class="articulo__informacion__precio">${{costo}}</p>
                            <h3 class="articulo__informacion__titulo">{{nombre}}</h3>
                            <p class="articulo__informacion__descripcion" style="display: none">{{informacion}}</p>
                        </div>
                    </div>
                    {{/each}}

                </div>


            </div>
        </div>
    </div>


    <footer>
        <div class="centrar">
            <article class="pie-pagina">
                <section class="subir">▲</section>
                <section class="pie-pagina__logo">
                    <img src="/images/logo-negativo.png" alt="" />
                </section>
                <section class="pie-pagina__contacto">
                    <ul class="info-contacto">
                        <li><strong>Telefono</strong> 313 211 2323</li>
                        <li><strong>Móvil:</strong> 315 211 423 23</li>
                        <li><strong>E-mail:</strong> cannio@info.correo.com</li>
                        <li><strong>Cali - Colombia</strong></li>
                    </ul>
                </section>
            </article>
        </div>
        <div class="pie-pagina__derechos">
            <h2 class="centrar">Todos los derechas reservador</h2>
        </div>
    </footer>


    <script src="/js/tienda.js"></script>
    <script src="/js/almacen.js"></script>
    <script>

        let data = new Almacen("tienda");

        let articulos = document.querySelectorAll(".articulo");
        let agregar = [];
        /*
                console.log(articulos)
        */
        articulos.forEach((articulo) => {
            let agrega = { selector: articulo.querySelector(".articulo__informacion__agregar"), origen: articulo };
            agrega.selector.addEventListener("click", () => {

                let nombre = agrega.origen.querySelector(".articulo__informacion__titulo");
                let precio = agrega.origen.querySelector(".articulo__informacion__precio");
                let imagen = agrega.origen.querySelector(".articulo__imagen__imagen > img");
                let informacion = agrega.origen.querySelector(".articulo__informacion__descripcion");

                data.agregarProducto(
                    {
                        nombre: nombre,
                        precio: precio,
                        imagen: imagen,
                        informacion: informacion
                    }
                );

            });
            agregar.push(agrega);
        });

        let filtros__check__precio = document.querySelectorAll(".filtros #precio");
        let rutaPrecio = "";
        let rutaEnvio = "";
        let rutaMarca = "";
        let rutaEtapa = "";
        let vprecio = false;
        let venvio = false;
        let vmarca = false;
        let vetapa = false;;

        function actualizarPrecio(f) {
            let intpu = f.querySelector("input");
            if (intpu.checked) {
                rutaPrecio = f.id + "=" + intpu.value + "&";
            }
        }

        filtros__check__precio.forEach((f) => {
            actualizarPrecio(f);
            f.addEventListener("mouseup", () => {
                let intpu = f.querySelector("input");
                if (intpu.checked) {
                    setTimeout(() => {
                        intpu.checked = false;
                    }, 5);
                    rutaPrecio = "";
                } else {
                    rutaPrecio = f.id + "=" + intpu.value + "&";
                }

                actualizandoRuta();
            });
        });


        let filtros__check__marca = document.querySelectorAll(".filtros #marca");


        function actualizarMarca(f) {
            let intpu = f.querySelector("input");
            if (intpu.checked) {
                rutaMarca = f.id + "=" + intpu.value + "&";
            }

        }

        filtros__check__marca.forEach((f) => {
            actualizarMarca(f);
            f.addEventListener("mouseup", () => {
                let intpu = f.querySelector("input");
                if (intpu.checked) {
                    setTimeout(() => {
                        intpu.checked = false;
                    }, 5);
                    rutaMarca = "";
                } else {
                    rutaMarca = f.id + "=" + intpu.value + "&";
                }
                actualizandoRuta();
            });
        });



        let filtros__check__etapa = document.querySelectorAll(".filtros #etapa");


        function actualizarEtapa(f) {
            let intpu = f.querySelector("input");
            if (intpu.checked) {
                rutaEtapa = f.id + "=" + intpu.value + "&";
            }
        }

        filtros__check__etapa.forEach((f) => {
            actualizarEtapa(f);
            f.addEventListener("mouseup", () => {
                let intpu = f.querySelector("input");
                if (intpu.checked) {
                    setTimeout(() => {
                        intpu.checked = false;
                    }, 5);
                    rutaEtapa = "";
                } else {
                    rutaEtapa = f.id + "=" + intpu.value + "&";
                }
                actualizandoRuta();
            });
        });

        let filtros__check__envio = document.querySelectorAll(".filtros #envio");


        function actualizarEnvio(f) {
            let intpu = f.querySelector("input");
            if (intpu.checked && rutaEnvio == "") {
                rutaEnvio = f.id + "=" + intpu.value + "&";
            }

        }

        filtros__check__envio.forEach((f) => {
            actualizarEnvio(f);
            f.addEventListener("mouseup", () => {
                let intpu = f.querySelector("input");
                if (intpu.checked) {
                    setTimeout(() => {
                        intpu.checked = false;
                    }, 5);
                    rutaEnvio = "";
                } else {
                    rutaEnvio = f.id + "=" + intpu.value + "&";
                }
                actualizandoRuta();
            });
        });

        function actualizandoRuta() {
            let ruta = rutaEnvio + rutaEtapa + rutaMarca + rutaPrecio;
            console.log(ruta)
            location.href = ruta;
        }
        console.log(rutaEnvio + rutaEtapa + rutaMarca + rutaPrecio)



    </script>
</body>

</html>